body { 


    background-image: url("https://wallpaperaccess.com/full/6754412.jpg");
    background-color: #cccccc;

}

.naslov {

    text-align: center;
    color: rgb(0, 162, 255);
    margin: 10px auto;
    border: 3px solid rgb(92, 161, 130) ;
    width: 500px;
    height: 43px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px ;
    font-style: oblique;
}

div img { 

    width: 1880px;
    height: 400px;
    border: 1px solid rgb(0, 119, 255);
}

.zabranjeno {
    color: white;
}

.rpe {

    color: white;
}
.pravila { 
    color: white;
}
.ol { 

    color: white;
}


